

.textWithInfo{
    display: flex;
    max-width: fit-content;
    text-decoration: 1px underline dotted rgba(0, 0, 0, .4);
    text-underline-offset: 4px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-right: 0.5rem;
    position: relative;
    cursor: default;

}

.Info{
    display: flex;
    justify-content: center;
    width: 220px;
    padding: 2px;
    color: #fff;
    text-align: center;
    background-color: #123;
    border-radius: 2px;
    position: absolute;
    font-size: .7rem;
    opacity: 0.8;
    z-index: 5;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 28px;
}

.Info::before{
    content: "";
    height: 12px;
    width: 12px;
    rotate: 45deg;
    background: #123;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translate(-50%);
    bottom: -6px;
    margin-bottom: -4px;
}

