*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-ul: 1400px;
    --translate-value: 80%;
    --translateHigh-value: 0;
}


